<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment; let index = index">
    <span *ngIf="indexBeingEdited !== index; else elseBlock">
      <span (click)="edit(index)">{{item}}</span>
      <button (click)="remove(index)">Remove</button>
    </span>

    <ng-template #elseBlock>
      <input #equipmentInput (keyup.enter)="save(equipmentInput.value)" value="{{item}}" />
      <button (click)="save(equipmentInput.value)">Save</button>
    </ng-template>
  </li>
</ul>
<input #newEquipment (keyup.enter)="add(newEquipment.value)" />
<button (click)="add(newEquipment.value)">Add</button>